@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins";
    @apply text-base text-white font-normal px-6 py-5 bg-black;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  th,
  td,
  button,
  input {
    font-family: "Poppins" !important;
  }
}

@layer components {
  a {
    text-decoration-color: inherit !important;
    @apply no-underline cursor-pointer !important;
  }
  a.link {
    @apply text-base font-medium text-white;
  }

  .btn-style {
    font-family: "Poppins";
    box-shadow: 0px 2px 0px #3d8f17, 0px 4px 4px rgba(0, 0, 0, 0.11),
      0px 12px 20px rgba(61, 143, 23, 0.32);
    @apply py-4 min-w-[188px] text-center inline-block rounded-xl text-sm leading-6 font-semibold text-[#050505] normal-case no-underline relative z-[1] !important;
    background-image: linear-gradient(
      to right,
      #baff00 0%,
      #149c6b 51%,
      #baff00 100%
    );
    background-size: 250% auto !important;
    transition: 0.5s !important;
  }
  .btn-style:hover {
    background-position: right center;
  }

  .header {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0.04) 100%
    );
    backdrop-filter: blur(84px);
    @apply rounded-2xl px-6 py-[11px] border-[1.5px] border-[#434343] border-solid relative z-[999];
  }
  header .country-dropdown div {
    @apply relative z-[1];
  }
  header .country-dropdown div svg {
    @apply text-white outline-0 !important;
  }
  header .country-dropdown div {
    @apply text-white outline-0 flex items-center gap-2 text-base font-medium !important;
  }
  header .country-dropdown div fieldset {
    border-color: transparent !important;
  }
  div:has(ul[aria-labelledby="language"]) {
    @apply bg-transparent;
  }
  ul[aria-labelledby="language"] {
    @apply py-0 px-0 rounded-xl text-base font-medium text-white relative gradientBg overflow-hidden;
  }
  div#table-menu ul:before,
  ul[aria-labelledby="language"]:before {
    content: "";
    @apply block absolute left-[1px] right-[1px] top-[1px] bottom-[1px] z-0 rounded-xl bg-black;
  }
  ul[aria-labelledby="language"] li {
    @apply flex items-center gap-2 rounded-r-xl;
    font-family: "Poppins", sans-serif !important;
  }
  .text-green-gradient {
    background: linear-gradient(97.43deg, #baff00 -6.54%, #149c6b 142.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  ul[aria-labelledby="language"] li:hover {
    font-family: "Poppins", sans-serif !important;
    @apply text-green-gradient font-medium;
  }

  .gradientBg {
    @apply bg-gradient-to-r from-[#ffffff] to-[#000000];
  }
  div#table-menu ul,
  .gradeint-border {
    @apply relative  z-10 gradientBg;
  }
  div#table-menu ul *,
  .gradeint-border * {
    @apply relative z-[1];
  }
  .aside-nav {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0.04) 100%
    );
    backdrop-filter: blur(84px);
    min-height: calc(100vh - 145px);
    @apply rounded-2xl py-8 px-4 border-[1.5px] border-[#434343] border-solid relative z-[60] !important;
  }
  .menu-list > div > div {
    @apply flex flex-col gap-5 items-start;
  }
  .menu-list button.Mui-selected.quickcheck:after {
    background: url(/tick.svg) no-repeat center center;
  }
  .quickcheck:after {
    background: url(/tick-white.svg) no-repeat center center;
  }
  .menu-list button.Mui-selected.dataset:after {
    background: url(/dataset-active.svg) no-repeat center center;
  }
  .dataset:after {
    background: url(/dataset.svg) no-repeat center center;
  }
  .setting:after {
    background: url(/settings.svg) no-repeat center center;
  }
  .menu-list button.Mui-selected.setting:after {
    background: url(/setting-active.svg) no-repeat center center;
  }
  .menu-list button:after {
    content: "";
    @apply absolute block left-3 w-[20px] h-[20px] bg-contain;
  }
  .menu-list button.Mui-selected:before {
    content: "";
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    @apply rounded-lg w-full h-full absolute left-0 right-0;
  }
  .menu-list button.Mui-selected {
    @apply text-green-gradient text-base font-medium normal-case no-underline relative;
  }
  .menu-list button {
    @apply p-0 rounded-lg text-[#7e7e7e] text-base font-medium normal-case no-underline px-[15px] w-full flex items-start gap-3 pl-11;
  }
  .menu-list button:hover:not(.Mui-selected) {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .menu-list span.MuiTabs-indicator {
    @apply hidden !important;
  }
  .search-wrapper form {
    @apply bg-[#ffffff14] p-3 rounded-2xl text-white text-opacity-40 w-full;
  }
  .search-wrapper form button {
    @apply p-0;
  }
  .search-wrapper form input {
    font-family: "Poppins" !important;
    @apply text-white text-sm leading-6;
  }
  .table-wrapper table {
    @apply px-6;
  }
  .table-wrapper tr th:not(:last-child) {
    @apply min-w-[85px];
  }
  .table-wrapper tr th {
    @apply pt-6 pb-4 text-white border-none text-opacity-60 text-sm  px-0 font-normal sticky top-0 bg-black;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  .table-wrapper tr td:first-child {
    @apply cursor-pointer !important;
  }
  .table-wrapper tr td {
    @apply py-2 text-white border-none text-sm  px-0 font-medium;
  }
  .table-details .table-wrapper tbody tr:nth-child(odd) {
    @apply bg-gradient-to-r from-[#1d1e1d] to-transparent !important;
  }
  .table-wrapper table tbody tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.02);
  }
  .table-wrapper table tbody tr:nth-child(even) td {
    @apply py-5 !important;
  }
  .table-wrapper > div {
    max-height: calc(100vh - 220px);
    overflow: auto;
    @apply rounded-2xl;
  }
  .ps-6 {
    -webkit-padding-start: 1.5rem;
    padding-inline-start: 1.5rem !important;
  }
  .pe-10 {
    -webkit-padding-end: 1.5rem;
    padding-inline-end: 2rem !important;
  }
  .status {
    font-family: "Montserrat" !important;
    background: linear-gradient(
      97.43deg,
      rgba(186, 255, 0, 0.1) -6.54%,
      rgba(20, 156, 107, 0.1) 142.22%
    );
    @apply rounded-full px-4 py-2 text-sm  flex items-center gap-2 max-w-[100px] ps-[18px] font-medium !important;
  }
  .status img {
    @apply max-w-[16px] !important;
  }
  .table-details .table-wrapper tr td{
    font-family: 'Montserrat' !important;
  }
  .status p {
    font-family: 'Montserrat' !important;
    @apply text-sm font-medium text-green-gradient !important;
  }
  .active-btn {
    @apply w-full min-w-[2rem] h-9 flex flex-col gap-1 justify-center cursor-pointer items-center  bg-transparent;
  }
  .active-btn span {
    background: linear-gradient(97.43deg, #baff00 -6.54%, #149c6b 142.22%);
    @apply w-1 h-1 rounded-full;
  }
  .active-btn:hover span {
    background: #fff;
  }
  .table-wrapper tr td:has(.active-btn) {
    @apply pr-0 !important;
  }
  div#table-menu div {
    @apply bg-transparent;
  }
  div#table-menu ul {
    @apply rounded-xl text-white;
  }
  div#table-menu ul li {
    @apply flex items-center gap-2;
  }
  .table-wrapper {
    min-height: calc(100vh - 225px);
    @apply relative z-10 gradientBg rounded-2xl;
  }
  .table-wrapper > div {
    @apply absolute bg-black left-[1px] top-[1px] right-[1px] bottom-[1px] z-[1] rounded-2xl;
  }
  .table-wrapper div * {
    @apply relative z-30;
  }
  .table-wrapper thead {
    @apply z-50;
  }
  body:before {
    content: "";
    filter: blur(167px);
    transform: rotate(43.58deg);
    -webkit-transform: rotate(43.58deg);
    -moz-transform: rotate(43.58deg);
    @apply bg-white w-[802px] h-[67.38px] absolute left-[-262px] top-[37px] z-50 !important;
  }
  h1 {
    @apply text-[40px] leading-[48px] tracking-[-0.04em] text-white font-bold !important;
  }
  .p-0 {
    padding: 0 !important;
  }
  .table-details > div {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(12px);
  }
  .table-details div[aria-labelledby="table-details-title"] {
    min-width: calc(100vw - 200px);
    min-height: calc(100vh - 60px);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0.04) 100%
    );
    backdrop-filter: blur(84px);
    @apply m-0 ps-10 pt-10 pe-10 rounded-3xl shadow-none border-[1.5px] border-[#434343] border-solid text-white relative !important;
  }
  .table-details h2 {
    @apply text-[48px] leading-[48px] font-bold text-white tracking-[-0.04em] p-0 !important;
  }
  .table-details .popup-close {
    @apply absolute min-w-0 top-10 right-10 !important;
  }
  .table-details .table-wrapper {
    min-height: calc(100vh - 300px);
    @apply bg-transparent !important;
  }
  .pb-0 {
    padding-bottom: 0px !important;
  }
  .table-details .table-wrapper tr th,
  .table-details .table-wrapper tr {
    @apply bg-[#131313] !important;
  }
  .table-details .table-wrapper tr td {
    @apply max-w-[150px] text-ellipsis overflow-hidden whitespace-nowrap;
  }
  .table-details .table-wrapper > div {
    @apply bg-[#131313] !important;
  }
  p {
    @apply text-base leading-7 tracking-normal font-normal !important;
  }
  .input input {
    @apply text-sm text-white leading-6 w-full bg-[#ffffff14] rounded-2xl p-[18px] border-none !important;
  }
  .address-form {
    @apply pb-1 text-sm leading-6 text-white opacity-60 font-normal tracking-normal !important;
  }
  .input div:after,
  .input div:before {
    @apply hidden !important;
  }
  p.style2 {
    @apply text-sm leading-6 text-white opacity-100 font-normal tracking-normal !important;
  }
  .no-result {
    height: calc(100vh - 390px);
    @apply pt-16 flex flex-col justify-center items-center text-center !important;
  }
  .logout{
    @apply text-sm leading-5 font-medium text-white text-opacity-70 underline !important;
  }
  .profile-details{
    @apply flex items-center gap-6;
  }
  .profile-details .user-pic{
    font-family: 'Montserrat' !important;
    @apply text-base font-semibold text-white !important;
  }
  .profile-details button{
    @apply underline text-sm leading-5 font-semibold p-0 normal-case flex items-center gap-2 !important;
  }
  .setting-screen button{
    @apply normal-case font-medium underline !important;
  }
  .setting-screen button:has(.text-green-gradient){
    text-decoration-color: #3d8f17;
  }
  .formate-text{
    @apply text-sm leading-5 font-normal mt-2  !important;
  }
  .input-copy{
    background: url(/copy-icon.svg) no-repeat center center;
    background-position: 97% center;
    background-size: 24px;
  }
  .setting-screen button:hover{
    @apply bg-transparent !important
  }
}
